<h2> <%=@wishlist.name%> </h2>

    <%@wishlist.items.each do |item|%>    
        <p><%=item.quantity%> <%=item.name%> </p>
    <% end %>


    <% if current_user(session) == @wishlist.user %>
    <a href= "/wishlists/<%=@wishlist.id%>/edit"><button> Edit Wishlist </button></a>
    <br>
    <br>
        </form action= "/wishlists/<%=@wishlist.id%>/delete" method="post">  
            <input type="hidden" name="_method" value="delete">  
            <input type="submit" value= "Delete Wishlist">
        </form>
    <%end%>